<a href="https://colab.research.google.com/github/lakshmi16796/python-assignments/blob/main/python_assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#convert string into list
str1 = "I am, lakshmi patil"
list1 = list(str1.split(','))
list2 = str1.split()
print(list1)
print(list2)

['I am', ' lakshmi patil']
['I', 'am,', 'lakshmi', 'patil']

In [ ]:
#find the bug
a = 2^5
print(a)
b = 2**5
print(b)

7
32

In [ ]:
#calculator

a = int(input("enter the first number \t"))
b = int(input("enter the second number\t"))

print("select the number for operation")
op = int(input(" 1:add \n 2:sub \n 3:multiply \n 4:divide \n 5:modulus \n 6:power \n"))
if op == 1:
    print(a+b)
if op == 2:
    print(a-b)
if op == 3:
    print(a*b)
if op == 4:
    print(a/b)
if op == 5:
    print(a%b)
if op == 6:
    print(a**b)

In [ ]:
#string calculator

a = str(input("enter first string \t"))
b = str(input("enter second string\t"))

print("select the number for operation")
op = int(input(" 1:concatinate \n 2:reverse \n 3:convert to list \n 4:to upper case \n 5:to lower case \n "))

if op == 1:
  str1 = a+b
  print(str1)
if op == 2:
  print(a[::-1])
  print(b[::-1])
if op == 3:
  list1 = a.split()
  list2 = b.split()
  print(list1)
  print(list2)
if op == 4:
  print(a.upper())
  print(b.upper())
if op == 5:
  print(a.lower())
  print(bp.lower())

In [ ]:
#wages per hour
hr = float(input("please enter the number of hours \n"))
rate = float(input("please enter rate per hour \n"))
if hr > 50:
 gross_pay = float(50*rate + (hr - 50)*rate*2.5)
 print(gross_pay)

else:
  gross_pay = float(hr*rate)
  print(gross_pay)

In [ ]:
#hobbie

hobbies = ["reading", "writing", "gardening"]

print("please enter three hobbies")

for i in range(3):
  h1 = str(input())
  hobbies.append(h1)

print(hobbies)

In [ ]:
#divisibile by 5 and 7
a = 45
if (a%5 == 0) and (a%7 == 0):
  print("divisible by both 5 and 7")
else:
  print("not divisible")

In [1]:
phone_book = {'jhon':[100,'john@gmail.com', 'banglore'],
               'bob':[200, 'bob@gmail.com','delhi'],
               'tom':[300, 'tom@gmail.com', 'mumbai']}
print(phone_book)

{'jhon': [100, 'john@gmail.com', 'banglore'], 'bob': [200, 'bob@gmail.com', 'delhi'], 'tom': [300, 'tom@gmail.com', 'mumbai']}

In [5]:

list1 = [x for i in range(10) if (x<8) and (x>2)]
print(list1)

SyntaxError: ignored

In [6]:
import math
signal_power = 9
signal_noise = 10
ratio = signal_power/signal_noise
print(ratio)
decibles = 10*math.log10(ratio)
print(decibles)

0.9
-0.4575749056067512

In [7]:
list1 = [1,2,3,4,5]
if 2 in list1:
  print("present")
else:
  print("not present")

present

In [8]:
a = 10
b = 20
if (a is not b):
  print("not same")
else:
  print("same")

not same

In [12]:
count = 0
while True:
  print("hello")
  count = count+1
  if count>=5:
    break

hello
hello
hello
hello
hello

In [14]:
for i in range(10):
  if i%2 == 0 and i !=0:
    print(i)

2
4
6
8

In [ ]:
for i in range(5,4571):
  if (i%7 == 0) and (i%5 != 0):
    print(i)

In [ ]:
for i in range(0,101):
  print(i, "\t", ((i*(9/5)) + 32), "\n")