<a href="https://colab.research.google.com/github/lakshmi16796/python-assignments/blob/main/python_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#arithematic operations
distance = float(1000.0)
time = float(143.5)
speed = float((5/18)*100000/143.5)
print(speed)

193.5733643050716

In [ ]:
#average time per mile

distance = float(1000*1.61)
time = float(143.5)
speed = float(distance/time)
time_taken = speed*distance
print("time take is", time_taken, "minutes")

time take is 18063.414634146342 minutes

In [ ]:
cover_price = float (577.95)

cost = float((577.95+150) + (577.95+50)*59)
discount = float(cost*0.4)
final_cost = float(cost-discount)
print("final cost is", final_cost)

final cost is 22666.199999999997

In [ ]:
#centigrade to faranhite
centigrade = float(input("please enter temperature in centigrade \t"))
faranhite = float(centigrade*1.8+32)
print(faranhite)

please enter temperature in centigrade 	0
32.0

In [ ]:
my_float = float(2.4)
print(my_float)

2.4

In [ ]:
my_neg = -5
print(my_neg)

-5

In [ ]:
complex_num = complex(4,5)
print(complex_num)

c1 = 5+4j
print(c1)
print(type(c1))

(4+5j)
(5+4j)
<class 'complex'>

In [ ]:
#add complex numbers
c1 = complex(5,6)
c2 = complex(5,7)
c3 = complex(c1+c2)
print(c3)

c6 = complex(c1/c2)
print(c6)

c4 = complex(c1-c2)
print(c4)

c5 = complex(c1*c2)
print(c5)

(10+13j)
(0.9054054054054054-0.06756756756756759j)
-1j
(-17+65j)

In [ ]:
break = 15

SyntaxError: ignored

In [ ]:
result = "hello"
print(result[0])

h

In [ ]:
#greetings
name = input("please enter your name")
print("hearty welcome \t", name)

please enter your namelakshmi
hearty welcome 	 lakshmi

In [ ]:
#string operations
quote = "When the seed looses completely in the earth, Only then can it become a Tree"
count =0
new_quote = ""
for i in range(0,len(quote)):
  count = count + 1
print(count)

print(len(quote))

print(quote.upper())

for i in quote:
  if(i.islower()) == True:
    new_quote+=(i.upper())
  else:
    new_quote+=i

print(new_quote)

76
76
WHEN THE SEED LOOSES COMPLETELY IN THE EARTH, ONLY THEN CAN IT BECOME A TREE
WHEN THE SEED LOOSES COMPLETELY IN THE EARTH, ONLY THEN CAN IT BECOME A TREE

In [ ]:
c = a+b
a = 10
b = 12

NameError: ignored

intialisation of the variable is happening after the opertion, it throws an error

In [ ]:
c = 4+45j
abso = abs(c)
print(abso)

r = 4.5
print(round(r))

45.17742799230607
4

In [ ]:
quote = "hello world."
print(quote.replace(".", "!"))

hello world!